<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>What time is it?</h1>
      <p>It's <%= params[:venue]%> time!</p>
      <%= image_tag params[:venue], class: 'img-rounded partypic' %>
      <p> <%= @yourvenue %></p>
    </div>
  </div>
</div>
